<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header text-center">
      Registration
    </div>
    <div class="card-body">
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group col-12">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="userService.formData.FullName" required>
            <span *ngIf="!FullName.valid && FullName.touched" class="error-block">
              This field is required.
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="Email" #Email="ngModel" [(ngModel)]="userService.formData.Email" required minlength="6">
          <span *ngIf="!Email.valid && Email.touched" class="error-block">
            <span *ngIf="Email.hasError('required')">This field is required.</span>
            <span *ngIf="Email.hasError('email')">Invalid email.</span>
            <span *ngIf="Email.errors.minlength">Email must be at least 8 characters.</span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="userService.formData.Password" required minlength="8">
          <span *ngIf="!Password.valid && Password.touched" class="error-block">
            <span *ngIf="Password.errors['required']">This field is required.</span>
            <span *ngIf="Password.errors.minlength">Password must be at least 8 characters.</span>
          </span>
        </div>

        <!--<div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword">
          <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="error-block">
            <span *ngIf="confirmPassword.hasError('required')">Confirm password.</span>
          </span>
          <span *ngIf="registrationForm.hasError('notMatched') && confirmPassword.valid" class="error-block">Password is not matched.</span>
        </div>-->

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="userService.formData.PhoneNumber" required minlength="11" maxlength="11">
          <span *ngIf="!PhoneNumber.valid && PhoneNumber.touched" class="error-block">
            <span *ngIf="PhoneNumber.errors['required']">This field is required.</span>
            <span *ngIf="PhoneNumber.errors.minlength || PhoneNumber.errors.maxlength">Phone Number must be 11 characters.</span>
          </span>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadio1" value="Student" name="Role" #Role="ngModel" [(ngModel)]="userService.formData.Role" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Student</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadio2" value="Organizer" name="Role" #Role="ngModel" [(ngModel)]="userService.formData.Role" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Organizer</label>
        </div>

        <div class="form-group col-12 text-center mt-3">
          <button [disabled]="!Email.valid || !FullName.valid || !Password.valid || !PhoneNumber.valid" type="submit" class="btn btn-primary">Register</button>
          <button type="reset" class="btn btn-secondary ml-2">Reset</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
