<div class="row">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/images/meeting.png">
      </div>

      <div class="card-body">
        <h1 class="card-title">{{ event.eventName}}</h1>

        <hr>

        <div>
          <strong>Place: {{ event.place }}</strong>
        </div>
        <hr>
        <div>
          <strong>Start Date: {{ event.startDate |date: 'medium'}}</strong>
        </div>
      </div>

      <div class="card-footer">
        <div class="btn-group d-flex">
          <form #form="ngForm" (submit)="joinToEvent(event.id, authService.currentUser.id)">
            <!--<input type="hidden" value="{{ event.id }}" name="eventId" #eventId="ngModel" [(ngModel)]="userSevice.form.eventId">
            <input type="hidden" value="{{ authService.currentUser.Id }}" name="userId" #userId="ngModel" [(ngModel)]="userSevice.form.userId">-->
            <button type="submit" class="btn btn-success">Join</button>
          </form>
          <button class="btn btn-danger" (click)="showEventParticipants(event.id)">Participants</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <h1>Description</h1>
    <p>{{ event.description }}</p>
  </div>
</div>
